@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 250 250 250;
    --color-foreground: 255 255 255;
    --color-border: 234 234 234;
    --color-content: 17 17 17;
    --color-iris-lighter: 79 85 255;
    --color-iris-darker: 69 74 222;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 16 16 16;
      --color-foreground: 24 24 24;
      --color-border: 48 48 48;
      --color-content: 255 255 250;
    }
  }

  :root[data-theme="dark"] {
    --color-background: 16 16 16;
    --color-foreground: 24 24 24;
    --color-border: 48 48 48;
    --color-content: 255 255 250;
  }
}

.bg-gradient {
  background: linear-gradient(45deg, transparent 20%, #454ade 100%);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
  filter: blur(70px);
}
